---
layout: default
title: Home
description: one less hot mess home organizing service in minneapolis, minnesota.
---




<div class="container-fluid">
 
       
</div>


 

<div class="container-fluid white padded-med">
  <div class="container">
    <div class="row">
    <div class="col-md-6">
       <img src="/img/logo.gif" class="img-responsive">
     </div>

      <div class="col-md-6 perriwinkle">
        <span class="visible-xs"><br></span>
       <h3 class="cedar"> to do:</span></h3>
        <ul>
          <li class="cedar todo"><img src="/img/checkbox2.gif" class="recheck"> declutter + arrange</li>
          <li class="cedar todo"><img src="/img/checkbox2.gif" class="recheck"> tidying + sorting</li>
          <li class="cedar todo"><img src="/img/checkbox2.gif" class="recheck"> dejunk + minimalize</li>
          <li class="cedar todo"><img src="/img/checkbox2.gif" class="recheck"> packing + unpacking</li>
          <li class="cedar todo"><img src="/img/checkbox2.gif" class="recheck"> party prep + staging</li>
        <br>
        </ul>
          </div>

      </div>
    </div>
  </div>

<div class="container-fluid pink padded-med">
    <div class="container">
      <div class="row">
        <div class="col-md-1 dark">
     </div>

        
     
        <div class="col-md-6 col-md-push-4 dark">

       
  {% include contactform.html %}<br>

        </div>

        <div class="visible-xs dark"><br>
     </div>

        <div class="col-md-4 col-md-pull-6 white padded-med">
  <h4 class="chat white-font">Info</h4>
          <span class="white-font"><i class="fa fa-phone-square fa-lg"> </i> 6123983889 </span>
            <span class="white-font"><br><i class="fa fa-envelope-o fa-lg"></i> help@onelesshotmess.com </strong></span>
            <span class="white-font"><br><strong> 756 North 4th Street, Suite 302<br>
              Minneapolis, MN  55401<br></strong></span>
      <br>
      
</div>

        </div>
    </div>
  </div>

</div>

{% include footer.html %}






