---
layout: default
title: Home
description: Akasha Collective is a full service creative agency specializing in brand design and development and implementing marketing strategies and tools that get results.
---






 <div class="container-fluid yellow padded-big">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
 <h4><strong>Full service creative team based in Minneapolis, Minnesota</h2></span>

<li><i class="fa fa-check-square-o"></i> Brand Design</li>
    <li><i class="fa fa-check-square-o"></i> Product Development</li>
      <li><i class="fa fa-check-square-o"></i> Website Development</li>
        <li><i class="fa fa-check-square-o"></i> Ecommerce</li>
            <li><i class="fa fa-check-square-o"></i> IT</li>
            <li><i class="fa fa-check-square-o"></i> CRM</li>
          <li><i class="fa fa-check-square-o"></i> Photography</li>
          <li><i class="fa fa-check-square-o"></i> Videos</li>
            <li><i class="fa fa-check-square-o"></i> Blogging</li>
              <li><i class="fa fa-check-square-o"></i> Social Media</li>
  <li><i class="fa fa-check-square-o"></i> Marketing Strategy</li>
 <li><i class="fa fa-check-square-o"></i> Marketing Campaigns</li>
  <li><i class="fa fa-check-square-o"></i> PR</li>
   <li><i class="fa fa-check-square-o"></i> Advertising</li>
    <li><i class="fa fa-check-square-o"></i> Print Materials</li>
     <li><i class="fa fa-check-square-o"></i> SEO</li>
          <li><i class="fa fa-check-square-o"></i> Newsletters</li>
                <li><i class="fa fa-check-square-o"></i> Analyze and Measure</li>
    
</div>
<div class="col-sm-5">
  <img src="/img/mnline.png" class="img-responsive">
</div>

      
     
      </div>

    </div>
    </div>
</div> 
</div>
        

 <div class="container-fluid yellow padded-med">
    <div class="container" id="contact">
      <div class="row">

        <div class="col-md-5 white padded-sm">
          <h1><span class="pink-font sux"><i class="fa fa-phone-square fa-lg"> <strong>6122174112 </strong></i> </span>
            <span class="black-font suxy"><br><i class="fa fa-envelope-o fa-lg" alt="visit us on twitter"></i> hello@akashacollective.com </strong></span>
      <br>
       <a href="https://twitter.com/akshcllctv3" target="_blank"><span class="sux purple-font"><i class="fa fa-twitter fa-lg"></i></span></a>&nbsp


        </div>

        <div class="col-md-6 purple">

            <h1>Send us a message</h1><div class="lead">
  {% include contactform.html %}<br></div>

        </div>
        
    </div>
  </div>

</div>






<div class="container-fluid white padded-big">
  <div class="container">
    <div class="row">
    

      <div class="col-md-12">
       <h3> Transparent Pricing, Customizable Packages</span></h2>
          </div>

      </div>
    </div>
  </div>
  <div class="container-fluid yellow padded-big">
  <div class="container">
    <div class="row">
          <div class="col-md-4"><h2>Architect</h2><p>Identify your primary focus, develop your products and brand, and attract clients and customers<br>

<ul>
          <span> <li> <i class="fa fa-check-square-o"></i> Brand Design</li>
           <li> <i class="fa fa-check-square-o"></i> Product Development</li>
             <li> <i class="fa fa-check-square-o"></i> Website</li>
           <li> <i class="fa fa-check-square-o"></i> Ecommerce</li>
           <li> <i class="fa fa-check-square-o"></i> Marketing Strategy</li>
           <li> <i class="fa fa-check-square-o"></i> Marketing Campaigns</li>
             <li> <i class="fa fa-check-square-o"></i> SEO</li>
           <li> <i class="fa fa-check-square-o"></i> Newsletters</li>
             <li> <i class="fa fa-check-square-o"></i> Blog</li>
               <li> <i class="fa fa-check-square-o"></i> Social Media</li></span>
        </ul>
       <p class="suxy purple-font">$4500 + $750 / Month</p>
        </div>

        <div class="col-md-8">
          <div class="row">
           <div class="col-md-6"><h2>Design</h2><p>Develop products and brand</p>
            <ul>
                   <span>   <li> <i class="fa fa-check-square-o"></i> Brand Design</li>
           <li> <i class="fa fa-check-square-o"></i> Product Development</li>
           <li> <i class="fa fa-check-square-o"></i> Website</li>
           <li> <i class="fa fa-check-square-o"></i> Ecommerce</li></span>
        
              </ul>
  <p class="suxy purple-font">$3500</p>
          </div>
           <div class="col-md-6"><h2>Attraction</h2><p>Attract clients and customers </p>
            <ul>
   <span>
         <li> <i class="fa fa-check-square-o"></i> Marketing Strategy</li>
           <li> <i class="fa fa-check-square-o"></i> Marketing Campaigns</li>
           <li> <i class="fa fa-check-square-o"></i> Newsletters</li>
            <li> <i class="fa fa-check-square-o"></i> SEO</li>
             <li> <i class="fa fa-check-square-o"></i> Blog</li>
               <li> <i class="fa fa-check-square-o"></i> Social Media</li></span>
              </ul>
  <p class="suxy purple-font">$2500 + $750 / Month</p>
          </div>
      </div>
   


<div class="row">
  <div class="col-md-12 purple padded-e">
<span class="suxy">Are you ready for your dream business?  </span><a class="btn btn-pink" href="/#contact">Contact us today </a>
  </div>
</div>
</div>
</div>

</div>
</div>





  <div class="container-fluid purple padded-big">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
   {% include signup.html %}
   </div>
 </div>
  </div>
</div>







