<nav class="navbar navbar-default navbar-static-top" role="navigation">


    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
  
 
      <span class="navbar-brand hidden-xs"></span>

    </div>

   
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{ site.baseurl }}/">HOME</a></li>
        <li class="{% if page.url == '/services/' %}active{% endif %}"><a href="{{ site.baseurl }}/services/">SERVICES</a></li>
        <li class="{% if page.url contains '/blog/' %}active{% endif %}"><a href="{{ site.baseurl }}/blog/">BLOG</a></li>
        <li class="{% if page.url == '/contact/' %}active{% endif %}"><a href="{{ site.baseurl }}/contact/">CONTACT</a></li>

    <!--   <li> <a href="https://twitter.com/HelloPrimary" class="social" target="_blank"><i class="fa fa-twitter"></i> </a></li>
   <li>  
               <a href="https://www.facebook.com/primaryattraction" class="social" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
         <li> 
                   <a href="http://instagram.com/primaryattraction" class="social" target="_blank"> <i class="fa fa-instagram"></i> </a></li>
         <li> 
      
-->
        
      </ul>
     


</nav>