 <form action="http://akashacollective.createsend.com/t/d/s/dtuko/" method="post" class="form-group" id="contactForm">
 <h4><span class="white-font"><strong>Sign Up For Our Newsletter</strong> </span>

      
        <input id="fieldName" name="cm-name" type="text" class="input-field" class="form-control required" placeholder="Name"/>
   
  
        <input id="fieldEmail" name="cm-dtuko-dtuko" type="email" class="input-field"  class="form-control required email" required placeholder="Email"/>
  
        <button type="submit" class="btn btn-pink"><strong>Submit</strong></button></h3>
 
    </form>